:root{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    margin: 0px;
}
header{
    background-color: rgb(180, 116, 240);
    min-height: 5vh;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
 ;
}
a{
    text-decoration: none;
    color: inherit;
}
.links{
    display:flex;
    justify-content: flex-end;
    list-style: none;
}

.right{
    padding: 10px;
    text-decoration: none;
    --s: 0.1em;  
  --c: white; 
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}

.right:hover{
    --_p: 100%
}

.intro-image{
    max-height: 500px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.small-link-boxes{
    max-width: 400px;
    min-width: 200px;
    padding: 10px;
}

#about-me{
    width: 100%;
    display: flex;
    justify-content: center;
}

.labels {
    border: 1pt solid black;
    border-radius: 4px;
    position: relative;
    top: 50px;
    background-color: blueviolet;
    padding: 1%;
    width: fit-content;

}

#cat{
    align-items: center;
    width: 70%;
}
.big-link-box-text{
    font-size: 40px;
    border-right: solid 2px;
    padding-right: 5px;
}

footer{
    background-color: rgb(180, 116, 240);
    min-height: 15vh;
}


.footer-image{
    height: 200px;
    width: 200px;
    padding-left: 15%;
}
#work-examples{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;  
    margin-right: 2rem
}

#contact-me{
    justify-content: center;
}
@media screen and (n-width: 420px) {
    .small-link-boxes {
      height: 80%;
      width: 80%;
    }
  }