:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: rgb(180, 116, 240);
    min-height: 5vh;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
 ;
}

header>ul{
    display:right;
    justify-content: right;
}


.intro-image{
    max-height: 500px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.small-link-boxes{
    flex: 1 0 0;
}

section h2 {
    border: 1pt solid black;
    border-radius: 4px;
    position: relative;
    top: 350px;
    background-color: blueviolet;
    padding: 1%;
    width: fit-content;

}

.big-link-box{

}
.big-link-box-text{
    top:400px
}

footer{
    background-color: rgb(180, 116, 240);
    min-height: 15vh;
}

footer>img{
    height: 150px;
    width: 150px;
}